.surface {
    display: flex;
    margin: 5% 20% 30% 20%; 
    padding: 2%;
    width: 64%;
    height: max-content;
    background: hsla(0,0%,100%,.2);
    box-shadow: 0 8px 32px 0 rgb(102 103 112 / 37%);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid hsla(0,0%,100%,.18);
    background-color: rgba(102, 102, 102, 0.28);
    color: white;
    font-weight: 500;
} 

.entries-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px 20px;
}

.surface-styles {
    border-radius: 10px;
    border: 1px solid hsla(0,0%,100%,.18);
    padding: 2% 5%;
}
